@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background: #eceff1;
}

.brand-logo {
  margin-left: .5em;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

nav ul {
  margin-right: 1em;
}

main {
  text-align: center;
}

.card {
  margin: 2em 1em;
  padding: 0 !important;
}

.card-action a {
  margin-right: 0 !important;
}

.col.m5 {
  margin: 0 1.5em !important;  
}

.container {
  height: 100vh;
}

iframe {
  width: 100%;
  height: 100vh;
}

a {
  color: white;
}

a:hover {
  color: #cfd8dc;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0;
}